MONGODB_URI="mongodb+srv://afolabitimothy51_db_user:iw36MqGL4oSWZsBy@smartschooldev0.1xi5vei.mongodb.net/smartschool?retryWrites=true&w=majority&appName=smartschooldev0"
# MONGODB_URI="mongodb+srv://afolabitimothy51_db_user:gI0St7shlS43f8wi@cluster0.n7qglge.mongodb.net/smartschool?appName=Cluster0"
APP_URL=http://localhost:3000
NODE_ENV=development

SEED_SECRET="vvvvvvvvv"
SESSION_SECRET="f83aecc8da2a94f8d13231d2f2a57058e35e5a9dba0c6e2a45f78f6a0648d808"
